:root {
    --main-color: #0c0800;
    --second-color: #0044e3;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: var(--main-color);
    overflow-x: hidden;
}

.spinner {
    width: 100%;
    height: 100%;
    background: #00032b;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sk-cube-grid {
    width: 150px;
    height: 150px;
    margin: 100px auto;
    animation: rotate 1s infinite ease-in-out;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: rgb(255, 255, 255);
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: ease-in-out .4s;
    height: 70px;
    z-index: 1;
}

.header-slide {
    padding-top: 10px;
    padding-bottom: 5px;
    background: white;
    transition: .5s;
    position: fixed;
    width: 100%;
    height: 70px;
    box-shadow: 0px 0px 50px 5px black;
}

.container .row {
    transition: .5s;
}

.container .row-slide {
    background: white;
}

.container .logo1 {
    display: none;
    transition: ease-in-out .7s;
    opacity: 0;
}

.container .logo2 {
    display: flex;
    transition: ease-in-out .7s;
    opacity: 1;
}

.container .logo1-change {
    display: flex;
    opacity: 1;
    transition: ease-in-out .7s;
}

.container .logo2-change {
    display: none;
    opacity: 0;
    transition: ease-in-out .7s;
}

.container .all-div {
    display: inline-block;
}

.container .nav,
.container .logo,
.container .sign-in-nav {
    padding-top: 5px;
    position: fixed;
    transition: ease-in-out .5s;
}

.container .pages li,
.container .sign li {
    list-style: none;
    display: inline-block;
}

.row .c2 .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 11px;
}

.row .c3 {
    display: flex;
    justify-content: right;
    align-items: right;
}

.row ul li a {
    text-decoration: none;
    color: rgb(151, 151, 151);
    font-size: 18px;
    position: relative;
    padding-bottom: 10px;
    transition: .5s;
    font-family: arial;
}

.row .pages .link {
    margin: 0px 15px;
}

.row ul .link::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 0%;
    bottom: 0;
    left: 0;
    transition: .7s;
    border-bottom: 2px solid var(--second-color);
    transform: scaleX(1);
}

.row ul a:hover::after {
    width: 100%;
    transform: scaleX(1);
}

.row ul .link:hover {
    color: #326efa;
}

.row ul li .link-color {
    color: darkgray;
}

.row ul .link.active {
    color: var(--second-color);
    font-weight: bold;
}

.row .sign {
    padding-top: 3px;
}

.row ul .sign-link {
    font-weight: 600;
    font-size: 20px;
    background: var(--second-color);
    color: white;
    padding: 7px 30px;
    padding-bottom: 10px;
    border-radius: 15px 15px 15px 0px;
    text-decoration: none;
    border: 2px solid var(--second-color);
    transition: .4s;
}

.row ul .sign-link:hover {
    border-radius: 15px 0px 15px 15px;
    background: white;
    color: var(--second-color);
}

.row .sign-in-nav svg {
    color: rgb(148, 148, 148);
    width: 30px;
    height: 30px;
    margin-left: 15px;
    transition: .5s;
    cursor: pointer;
    display: none;
}

.row svg:hover {
    color: var(--second-color);
}

.slider {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: rgb(179, 179, 179);
    z-index: 1020;
    overflow-x: hidden;
    transition: .6s;
}

.slider svg {
    color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    transition: .5s;
}

.slider svg:hover {
    color: var(--second-color);
    transform: rotate(360deg);
}

.slider ul {
    margin-top: 100px;
}

.slider ul li {
    list-style: none;
    margin-bottom: 20px;
}

.slider ul .slider-link {
    text-decoration: none;
    color: white;
    font-size: 22px;
    transition: .5s;
    position: relative;
    padding-bottom: 5px;
}

.slider ul li .slider-link::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 0%;
    bottom: 0;
    left: 0;
    transition: .7s;
    border-bottom: 2px solid var(--second-color);
    transform: scaleX(1);
}

.slider ul li .slider-link:hover::after {
    transform: scaleX(1);
    width: 100%;
}

.slider ul li .slider-link:hover {
    color: var(--second-color);
}

.slider ul li .active {
    color: var(--second-color);
}

.navslider li .sign-link {
    font-weight: 600;
    font-size: 20px;
    background: var(--second-color);
    color: white;
    padding: 4px 20px;
    padding-bottom: 8px;
    border-radius: 15px 15px 15px 0px;
    text-decoration: none;
    border: 2px solid var(--second-color);
    transition: .4s;
    margin-top: 40px;
}

.navslider li .sign-link:hover {
    border-radius: 15px 0px 15px 15px;
    background: rgb(179, 179, 179);
    color: var(--second-color);
}

.overlay {
    background: #363636c7;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    z-index: 1000;
    transition: .3s;
}


/* .....................................section-1............................................... */

.section-1 {
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-content: center;
    padding-top: 170px;
    color: white;
    width: 100%;
    overflow: hidden;
}

.section-1 .row .sec-1 {
    padding-top: 140px;
}

.section-1 .row .sec-1 .sec1-h {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 25px;
}

.section-1 .row .sec-1 .sec1-p {
    opacity: .7;
    font-size: 23px;
    margin-bottom: 35px;
}

.section-1 .row .sec-1 .sec1-a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 30px;
    background: var(--second-color);
    border: 2px solid var(--second-color);
    transition: ease-in-out .3s;
    border-radius: 0px 10px 0px 10px;
}

.section-1 .row .sec-1 .sec1-a:hover {
    background: var(--main-color);
    border-radius: 10px 0px 10px 0px;
}

.section-1 .row .sec1-img {
    position: relative;
}

.section-1 .row .sec1-img .person {
    width: 100%;
}

.section-1 .row .sec1-img ul li {
    position: absolute;
    background: rgba(68, 68, 68, 0.418);
    transition: .8s;
    list-style: none;
}

.section-1 .row .sec1-img ul .li-1 {
    top: 275px;
    left: 30px;
    padding: 20px;
    border-radius: 50%;
}

.section-1 .row .sec1-img ul .li-2 {
    top: 70px;
    left: 130px;
    padding: 15px 25px;
    border-radius: 50%;
}

.section-1 .row .sec1-img ul .li-3 {
    top: 20px;
    right: 120px;
    padding: 30px 25px;
    border-radius: 50%;
}

.section-1 .row .sec1-img ul .li-4 {
    top: 190px;
    right: 20px;
    padding: 20px;
    border-radius: 50%;
}

.section-1 .row .sec1-img ul li:hover {
    transform: rotate(360deg);
}


/* .......................................section-2....................................... */

.section-2 {
    padding-top: 120px;
    color: white;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.section-2 .row .sec2-intro {
    text-align: center;
    margin-bottom: 40px;
}

.section-2 .row .sec2-h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-2 .row .sec2-p {
    font-size: 17px;
    opacity: .7;
    width: 600px;
    margin: auto;
}

.section-2 .row .sec2-card {
    background-color: rgba(95, 95, 95, 0.397);
    padding: 30px;
    position: relative;
    transition: ease-in-out.5s;
    margin-bottom: 30px;
}

.section-2 .row .sec2-card .sec2-svg {
    padding: 20px;
    background: rgba(0, 0, 0, 0.61);
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    transition: ease-in-out .5s;
}

.section-2 .row .sec2-card .sec2-svg1 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
}

.section-2 .row .c:hover>.sec2-card .sec2-svg {
    background: var(--second-color);
    border-radius: 20px;
    transform: rotate(360deg);
}

.section-2 .row .sec2-card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 4px;
    transition: ease-in-out.5s;
    border-bottom: 4px solid var(--second-color);
    transform: scaleX(1);
}

.section-2 .row .sec2-card:hover::after {
    transform: scaleX(1);
    width: 100%;
}

.section-2 .row .sec2-card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 14px;
    transition: ease-in-out.5s;
    border-top: 4px solid var(--second-color);
    transform: scaleX(1);
}

.section-2 .row .sec2-card:hover::before {
    transform: scaleX(1);
    width: 100%;
}

.section-2 .row .sec2-card .sec2-h3 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}

.section-2 .row .sec2-card .sec2-card-p {
    font-size: 16px;
    opacity: .7;
}

.section-2 .row .sec2-card .sec2-a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 0px;
    transition: ease-in-out .4s;
    font-weight: 600;
}

.section-2 .row .sec2-card .sec2-svg2 {
    width: 20px;
    height: 20px;
    transition: ease-in-out .3s;
}

.section-2 .row .sec2-card .sec2-a:hover {
    color: #004cff;
    border-radius: 10px;
}

.section-2 .row .sec2-card .sec2-a:hover>.sec2-svg2 {
    width: 20px;
    height: 20px;
    animation: move .4s infinite;
}

.section-2 .r1 {
    padding-bottom: 80px;
}

.section-2 .r2 {
    padding-top: 80px;
    padding-bottom: 100px;
}

.section-2 .row .list {
    margin-top: 30px;
    width: 100%;
    padding: 15px;
    background: rgba(95, 95, 95, 0.397);
    border-radius: 3px;
    position: relative;
}

.section-2 .row .list::after {
    content: '';
    position: absolute;
    background-color: var(--second-color);
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    transition: ease-in-out .4s;
    transform: scaleX(1);
}

.section-2 .row .sec2-p2 {
    font-size: 17px;
    opacity: .7;
    margin: auto;
}

.section-2 .row .list:hover::after {
    transform: scaleX(1);
    width: 100%;
}

.section-2 .row .list .sec2-h4 {
    font-size: 30px;
    font-weight: bold;
}

.section-2 .row .list .sec2-p3 {
    font-size: 14px;
    opacity: .7;
}

.section-2 .row .sec2-img {
    margin-top: 30px;
}

.section-2 .row .sec2-img img {
    width: 100%;
    height: 400px;
}

@keyframes move {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 10px;
    }
    100% {
        margin-left: 0px;
    }
}


/* ....................................section-3.................................... */

.section-3 {
    min-height: 100vh;
    padding: 100px 0px;
    width: 100%;
    overflow: hidden;
}

.section-3 .sec3-intro {
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.section-3 .sec3-intro .sec3-h {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-3 .sec3-intro .sec3-p {
    font-size: 16px;
    opacity: .7;
    width: 600px;
    margin: auto;
}

.section-3 .box {
    width: 100%;
    margin: auto;
    border: 1px solid;
}

.section-3 table {
    width: 100%;
    color: white;
}

.section-3 table th {
    padding: 15px 0px;
    padding-left: 30px;
    background: rgb(51, 51, 51);
}

.section-3 table td {
    padding-top: 20px;
    padding-left: 30px;
    background: rgb(29, 29, 29);
    border-bottom: 2px dotted rgb(107, 107, 107);
}

.section-3 table td img {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: auto;
    margin-right: 10px;
    margin-top: -45px;
}

.section-3 table td .table-td {
    display: inline-block;
}

.section-3 table td svg,
.section-3 table td p {
    display: inline-block;
}

.section-3 table td svg {
    color: rgb(221, 68, 68);
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.section-3 table td .up {
    color: rgb(104, 212, 104);
}

.section-3 table h6 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.section-3 table td p {
    font-size: 14px;
    opacity: .7;
}


/* .....................................section-4......................................... */

.section-4 {
    padding: 120px 0px;
    color: white;
    width: 100%;
    overflow: hidden;
}

.section-4 .row .sec4-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-4 .row .sec4-img img {
    width: 85%;
}

.section-4 .row .sec-4 {
    padding-top: 140px;
}

.section-4 .row .sec-4 .sec4-h {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-4 .row .sec-4 .sec4-p {
    font-size: 20px;
    opacity: .7;
    margin-bottom: 40px;
}

.section-4 .row .li {
    background: var(--second-color);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.section-4 .row .li .li-h4 {
    font-weight: bold;
    font-family: cursive;
}

.section-4 .row .li span {
    font-size: 18px;
    opacity: .7;
    font-family: arial;
}

.section-4 .row .sec4-pro {
    margin-top: 30px;
}

.section-4 .row .sec4-pro .sec4-h3 {
    font-size: 23px;
    font-family: arial;
    margin-bottom: 20px;
}

.section-4 .row .progress {
    position: relative;
}

.section-4 .row .progress::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: var(--second-color);
    width: 80%;
    height: 100%;
}


/* ........................................section-5............................................ */

.section-5 {
    background: url(../pics/maps.png);
    background-attachment: fixed;
    width: 100%;
    overflow: hidden;
}

.section-5 .back {
    padding: 120px 0px;
    text-align: center;
    color: white;
    background: rgba(54, 54, 54, 0.356);
}

.section-5 .sec5-h {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-5 .sec5-p {
    font-size: 20px;
    opacity: .7;
    margin-bottom: 40px;
    width: 600px;
    margin: auto;
    margin-bottom: 40px;
}

.section-5 .sec5-a {
    text-decoration: none;
    color: white;
    background: var(--second-color);
    border: 2px solid var(--second-color);
    padding: 10px 20px;
    border-radius: 10px 0px 10px 0px;
    transition: .5s;
}

.section-5 .sec5-a:hover {
    background: var(--main-color);
}

.section-5 .sec5-a:hover>svg {
    animation: move .5s infinite;
}


/* .........................................section-6............................................ */

.section-6 {
    padding: 100px 0px;
    color: white;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.section-6 .sec6-intro {
    margin-bottom: 40px;
}

.section-6 .sec6-intro .sec6-h1 {
    font-size: 45px;
    font-weight: bold;
}

.section-6 .sec6-intro .sec6-p1 {
    font-size: 20px;
    opacity: .7;
    width: 600px;
    margin: auto;
}

.section-6 .row .team {
    position: relative;
    overflow: hidden;
}

.section-6 .row .team .team-img {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;
}

.section-6 .row .team img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .4s;
}

.section-6 .row .team .team-img:hover>img {
    transform: scale(1.1);
}

.section-6 .row .team .icon {
    text-decoration: none;
    color: black;
    padding: 5px 8px;
    background: white;
    border-radius: 5px;
    display: block;
    width: 30px;
    margin-bottom: 10px;
    position: absolute;
    right: -50px;
    box-shadow: 0px 0px 80px 2px black;
}

.section-6 .row .team .icon i {
    transition: 1s;
}

.section-6 .row .team .i-1 {
    top: 20px;
    transition: .4s;
}

.section-6 .row .team .i-2 {
    top: 65px;
    transition: .6s;
}

.section-6 .row .team .i-3 {
    top: 110px;
    transition: .8s;
}

.section-6 .row .team .i-4 {
    top: 155px;
    transition: 1s;
}

.section-6 .row .team .icon:hover {
    background: var(--second-color);
    color: white;
}

.section-6 .row .team .icon:hover>i {
    transform: rotatey(360deg);
}

.section-6 .row .team .icon:hover>img {
    transform: scale(1.1);
}

.section-6 .row .team:hover>.icon {
    right: 15px;
}

.section-6 .row .team-info {
    margin-bottom: 40px;
}

.section-6 .row .team-info .sec6-h {
    font-size: 21px;
    font-weight: bold;
    font-family: cursive;
}

.section-6 .row .team-info .sec6-p {
    font-size: 14px;
    opacity: .7;
}


/* ..............................................section-7...................................... */

.section-7 {
    padding: 100px 0px;
    color: white;
    width: 100%;
    overflow: hidden;
}

.section-7 .sec7-intro {
    margin-bottom: 40px;
    text-align: center;
}

.section-7 .sec7-intro .sec7-h1 {
    font-size: 45px;
    font-weight: bold;
}

.section-7 .sec7-intro .sec7-p1 {
    font-size: 20px;
    opacity: .7;
    width: 600px;
    margin: auto;
}

.section-7 .row .svg-icon {
    margin-bottom: 15px;
}

.section-7 .row .svg-icon img {
    background: #0c0800;
    padding: 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: .5s;
}

.section-7 .start {
    background: rgba(95, 95, 95, 0.397);
    padding: 20px;
    position: relative;
    margin-bottom: 30px;
}

.section-7 .row .start::before {
    position: absolute;
    content: '';
    border-left: 4px solid var(--second-color);
    transition: .7s;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
}

.section-7 .row .start::after {
    position: absolute;
    content: '';
    border-right: 4px solid var(--second-color);
    transition: .7s;
    width: 100%;
    height: 70px;
    right: 0;
    bottom: 0;
}

.section-7 .row .start:hover::after,
.section-7 .row .start:hover::before {
    height: 100%;
}

.section-7 .row .start:hover>.svg-icon img {
    background: var(--second-color);
    transform: rotate(350deg);
}

.section-7 .row .sec7-p {
    font-size: 18px;
    opacity: .7;
}


/* ..................................section-8........................................... */

.section-8 {
    padding: 120px 0px;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.section-8 .sec8-intro {
    margin-bottom: 100px;
    text-align: center;
    color: white;
}

.section-8 .sec8-intro .sec8-h1 {
    font-size: 45px;
    font-weight: bold;
}

.section-8 .sec8-intro .sec8-p1 {
    font-size: 20px;
    opacity: .7;
    width: 600px;
    margin: auto;
}

.section-8 .my-slider .slide {
    margin: 20px;
    padding: 30px;
    background: rgba(95, 95, 95, 0.397);
    color: white;
    border-radius: 10px;
}

.section-8 .my-slider .slide i {
    color: gold;
    margin-bottom: 20px;
    font-size: 12px;
}

.section-8 .my-slider .slide .sec8-p {
    font-size: 17px;
    opacity: .7;
    margin-bottom: 30px;
}

.section-8 .my-slider .slide .sec8-img {
    display: inline-block;
    margin-right: 10px;
}

.section-8 .my-slider .slide .sec8-hp {
    display: inline-block;
}

.section-8 .my-slider .slide .sec8-hp .sec8-h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.section-8 .my-slider .slide .sec8-hp .sec8-p4 {
    font-size: 16px;
    opacity: .7;
}

.section-8 .my-slider .slick-prev,
.section-8 .my-slider .slick-next {
    background: var(--second-color);
    border: 2px solid var(--second-color);
    transition: ease-in-out .4s;
    padding: 5px 20px;
    color: white;
    float: right;
    position: absolute;
    font-family: cursive;
    font-size: 12px;
    border-radius: 10px 0px 10px 0px;
}

.section-8 .my-slider .slick-prev {
    top: -35px;
    right: 0;
}

.section-8 .my-slider .slick-next {
    bottom: -35px;
    left: 0;
}

.section-8 .my-slider .slick-next:hover,
.section-8 .my-slider .slick-prev:hover {
    background: var(--main-color);
    border-radius: 0px 10px 0px 10px;
}


/* ...................................footer...................................... */

footer {
    background: url(../pics/maps.png);
    background-attachment: fixed;
    width: 100%;
    overflow: hidden;
}

footer .footer-cover {
    background: rgba(29, 29, 29, 0.644);
    padding: 100px 0px;
    color: white;
    text-align: center;
}

footer ul {
    padding-left: 0px;
}

footer .footer-p {
    font-size: 18px;
    opacity: .7;
    width: 600px;
    margin: 30px auto;
}

footer .footer-ul {
    margin-top: 70px;
}

footer .footer-ul .footer-li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
}

footer .footer-ul .footer-li .footer-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: cursive;
    position: relative;
    transition: .3s;
    padding-bottom: 10px;
}

footer .footer-ul .footer-li .footer-link::after {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    transition: ease-in-out .3s;
    border-bottom: 2px solid var(--second-color);
    bottom: 0;
    left: 0;
}

footer .footer-ul .footer-li .footer-link:hover::after {
    width: 100%;
}

footer .footer-end {
    margin-top: 70px;
}

footer .footer-end .footer-h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
}

footer .footer-end .ul-icon {
    margin-top: 60px;
}

footer .footer-end .li-icon {
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
}

footer .footer-end .li-icon a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 50%;
    background: rgba(95, 95, 95, 0.397);
    transition: .4s;
}

footer .footer-end .li-icon i {
    transition: .4s;
}

footer .footer-end .li-icon a:hover {
    background: var(--second-color);
}

footer .footer-end .li-icon a:hover>i {
    transform: rotatey(360deg);
}


/* ...............................End................................... */

.end {
    color: white;
    height: auto;
    background: #00032f;
    width: 100%;
    overflow: hidden;
}

.end .left {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.end .right {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 10px;
}

.end .right a {
    text-decoration: none;
    color: white;
    opacity: .7;
    margin-left: 10px;
    transition: .3s;
}

.end .right a:hover {
    color: #ffca37;
}

@media (max-width: 1199px) {
    header .row ul {
        display: none;
    }
    .row .sign-in-nav svg {
        display: flex;
        margin-top: 5px;
    }
    .section-1 .row .sec-1 {
        padding-top: 40px;
    }
    .section-1 .row .sec-1 .sec1-h {
        font-size: 40px;
    }
    .section-1 .row .sec-1 .sec1-p {
        font-size: 20px;
    }
    .section-2 .row .sec2-card .sec2-h3 {
        font-size: 20px;
    }
    .section-2 .row .sec2-img img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 991px) {
    .section-1 {
        padding-top: 80px;
    }
    .section-1 .row .sec-1 {
        padding-top: 0px;
        padding-bottom: 30px;
    }
    .section-2 .row .sec2-h1 {
        font-size: 30px;
    }
    .section-2 .row .sec2-p {
        font-size: 16px;
        width: 100%;
        padding-left: 0px 20px;
    }
    .section-2 .row .sec2-card .sec2-h3 {
        font-size: 30px;
    }
    .section-3 .sec3-intro .sec3-h {
        font-size: 30px;
    }
    .section-3 .sec3-intro .sec3-p {
        font-size: 15px;
        width: 100%;
        padding-left: 0px 20px;
    }
    .section-3 .box {
        overflow-x: scroll;
    }
    .section-3 table {
        width: 150%;
    }
    .section-5 .sec5-h {
        font-size: 35px;
    }
    .section-5 .sec5-p {
        font-size: 17px;
        width: 100%;
        padding: 0px 20px;
    }
    .section-6 .sec6-intro .sec6-h1 {
        font-size: 35px;
    }
    .section-6 .sec6-intro .sec6-p1 {
        font-size: 17px;
        width: 100%;
        padding: 0px 20px;
    }
    .section-7 .sec7-intro .sec7-h1 {
        font-size: 35px;
    }
    .section-7 .sec7-intro .sec7-p1 {
        font-size: 17px;
        width: 100%;
        padding: 0px 20px;
    }
    .section-8 .sec8-intro .sec8-h1 {
        font-size: 35px;
    }
    .section-8 .sec8-intro .sec8-p1 {
        font-size: 17px;
        width: 100%;
        padding: 0px 20px;
    }
    footer .footer-p {
        font-size: 16px;
        width: 100%;
        padding: 0px 20px;
    }
    .end {
        text-align: center;
    }
    .end .right {
        text-align: center;
        padding-top: 0px;
        padding-bottom: 20px;
    }
}

@media (max-width:767px) {
    .section-1 .row .sec1-ul {
        display: none;
    }
    footer .footer-ul {
        margin-top: 30px;
    }
    footer .footer-ul .footer-li {
        display: inline-block;
        margin: 0px 8px;
    }
    footer .footer-ul .footer-li .footer-link {
        font-size: 16px;
    }
}

@media (max-width:575px) {
    .section-3 table {
        width: 230%;
    }
    .section-4 .row .sec-4 .sec4-h {
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .section-6 .row .col-12 {
        padding: 30px;
        padding-top: 10px;
    }
    .section-6 .row .team-info {
        margin-bottom: 0px;
    }
    footer .footer-ul .footer-li {
        display: block;
        margin-bottom: 30px;
    }
    footer .footer-end {
        margin-top: 30px;
    }
    footer .footer-end .footer-h3 {
        font-size: 25px;
    }
}